tesigners/views.pyc
mongoengine/__init__.pyc
mongoengine/base/__init__.pyc
mongoengine/base/common.pyc
mongoengine/base/datastructures.pyc
mongoengine/base/document.pyc
mongoengine/base/fields.pyc
mongoengine/base/metaclasses.pyc
mongoengine/common.pyc
mongoengine/connection.pyc
mongoengine/context_managers.pyc
mongoengine/django/__init__.pyc
mongoengine/django/auth.pyc
mongoengine/django/mongo_auth/__init__.pyc
mongoengine/django/mongo_auth/models.pyc
mongoengine/django/utils.pyc
mongoengine/document.pyc
mongoengine/errors.pyc
mongoengine/fields.pyc
mongoengine/python_support.pyc
mongoengine/queryset/__init__.pyc
mongoengine/queryset/base.pyc
mongoengine/queryset/field_list.pyc
mongoengine/queryset/manager.pyc
mongoengine/queryset/queryset.pyc
mongoengine/queryset/transform.pyc
mongoengine/queryset/visitor.pyc
mongoengine/signals.pyc
tesigners/__init__.pyc
tesigners/models.pyc
tesigners/views.pyc.orig
webserver/__init__.pyc
webserver/settings.pyc
webserver/wsgi.pyc
mongoengine/__init__.pyc
mongoengine/base/__init__.pyc
mongoengine/base/common.pyc
mongoengine/base/datastructures.pyc
mongoengine/base/document.pyc
mongoengine/base/fields.pyc
mongoengine/base/metaclasses.pyc
mongoengine/common.pyc
mongoengine/connection.pyc
mongoengine/context_managers.pyc
mongoengine/django/__init__.pyc
mongoengine/django/auth.pyc
mongoengine/django/mongo_auth/__init__.pyc
mongoengine/django/mongo_auth/models.pyc
mongoengine/django/utils.pyc
mongoengine/document.pyc
mongoengine/errors.pyc
mongoengine/fields.pyc
mongoengine/python_support.pyc
mongoengine/queryset/__init__.pyc
mongoengine/queryset/base.pyc
mongoengine/queryset/field_list.pyc
mongoengine/queryset/manager.pyc
mongoengine/queryset/queryset.pyc
mongoengine/queryset/transform.pyc
mongoengine/queryset/visitor.pyc
mongoengine/signals.pyc
tesigners/__init__.pyc
tesigners/models.pyc
webserver/__init__.pyc
webserver/settings.pyc
webserver/wsgi.pyc
mongoengine/__init__.pyc
mongoengine/base/__init__.pyc
mongoengine/base/common.pyc
mongoengine/base/datastructures.pyc
mongoengine/base/document.pyc
mongoengine/base/fields.pyc
mongoengine/base/metaclasses.pyc
mongoengine/common.pyc
mongoengine/connection.pyc
mongoengine/context_managers.pyc
mongoengine/django/__init__.pyc
mongoengine/django/auth.pyc
mongoengine/django/mongo_auth/__init__.pyc
mongoengine/django/mongo_auth/models.pyc
mongoengine/django/utils.pyc
mongoengine/document.pyc
mongoengine/errors.pyc
mongoengine/fields.pyc
mongoengine/python_support.pyc
mongoengine/queryset/__init__.pyc
mongoengine/queryset/base.pyc
mongoengine/queryset/field_list.pyc
mongoengine/queryset/manager.pyc
mongoengine/queryset/queryset.pyc
mongoengine/queryset/transform.pyc
mongoengine/queryset/visitor.pyc
mongoengine/signals.pyc
tesigners/__init__.pyc
tesigners/models.pyc
webserver/__init__.pyc
webserver/settings.pyc
webserver/wsgi.pyc
tesigners/models.pyc
tesigners/views.pyc
webserver/urls.pyc
tesigners/views.pyc
webserver/urls.py.orig
webserver/urls.pyc
tesigners/views.pyc
webserver/urls.pyc
mongoengine/dereference.pyc
webserver/urls.pyc
tesigners/views.pyc
tesigners/models.pyc
tesigners/views.pyc

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.pyc
