<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		 <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
		 <link rel="stylesheet" type="text/css" href="css/main.css"/>
		 <script data-main="js/dashboardmain" src="tp/require.js"></script>

		 <script type="text/javaScript">
			require.config({
				paths: {
					jquery: '../tp/jquery',
					bootstrap : '../tp/bootstrap.min',
					common : 'common',
					tp : "../tp",
					metrics: "dashboard/metrics",
					orders:"dashboard/orders",
					payment:"dashboard/payment",
					productInfo :"dashboard/productInfo",
					jqGrid : '../tp/jquery.jqGrid.min'
				},

				shim : {
					 "bootstrap" : { "deps" :['jquery'] },
					 "jqGrid" : {"deps": ['jquery']}
				}
			});
		 </script>
	</head>
	<body>
		<div class="container-fluid mainDiv" >
			<header class="navbar navbar-default navbar-fixed-top">
				<div class="row">
					<div class="col-md-2 col-md-offset-1 header-logo">
						<br>
						<a class='headerLink' href="dashboard.html"> <h1 class="logo">Tesigners <span class="logo-head">TM</span></h1></a>
					</div>
					<div class="col-md-5 col-md-push-4" id='loginDiv'>
					</div>
				</div>
			</header>
			<nav class="navbar top80px navbar-fixed-top">
				<div class='container'>
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
				  <ul class="nav navbar-nav">
					<li class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Orders<span class="caret"></span></a>
					  <ul class="dropdown-menu">
						<li><a id='pendingOrders' href="#" >Pending Orders</a></li>
						<li><a id='completedOrders' href="#">Completed Orders</a></li>
						<li><a id='cancelledOrders' href="#">Cancelled Orders</a></li>
					  </ul>
					</li>

					<li class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Payments<span class="caret"></span></a>
					  <ul class="dropdown-menu">
						<li><a id='transactions' href="#">Transactions</a></li>
						<li><a id='invoices' href="#">Invoices</a></li>
						<li><a id='settlements' href="#">Settlements</a></li>
					  </ul>
					</li>
					<li><a id ='metrics' href="#">Metrics</a></li>
				  </ul>
				  <ul class="nav navbar-nav navbar-right">
					<li><a id='account' href="#"><span class="glyphicon glyphicon-user" class="active"></span> Account</a></li>
					<li><a id='productInfo' href="#"><span class="glyphicon glyphicon-log-out"></span> Product Info</a></li>
					<li><a id='logout' href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
				  </ul>
				  </div>
				</div>
			</nav>
			<div id = 'bodyDiv' style='margin-top:130px; height: 70%'>
				<div id='ordersDiv' class='dashboardItemVisible'></div>
				<div id='paymentsDiv' class='dashboardItemHidden'></div>
				<div id ='metricsDiv' class='dashboardItemHidden'></div>
				<div id ='accountsDiv' class='dashboardItemHidden'></div>
				<div id='productDiv' class='dashboardItemHidden'></div>
			<div id = 'footerDiv' ></div>
		</div>
	</body>
</html>
