<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		 <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
		 <link rel="stylesheet" type="text/css" href="css/main.css"/>
		 <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js"></script>
		 <script data-main="js/coremain" src="tp/require.js"></script>
		 <script type="text/javaScript">
			require.config({
				paths: {
					jquery: '../tp/jquery',
					bootstrap : '../tp/bootstrap.min',
					common : 'common',
					tp : "../tp"
				},

				shim : {
					 "bootstrap" : { "deps" :['jquery'] }
				}
			});
		 </script>
	</head>
	<body>
		<div class="container-fluid mainDiv" >
			<header class="navbar navbar-default navbar-fixed-top">
				<div class="row">
					<div class="col-md-2 col-md-offset-1 header-logo">
						<br>
						<a class='headerLink' href="index.html"> <h1 class="logo">Tesigners <span class="logo-head">TM</span></h1></a>
					</div>
					<div class="col-md-5 col-md-push-4" id='loginDiv'>
					</div>
				</div>
			</header>
			<div id = 'bodyDiv'></div>
			<div id = 'footerDiv'></div>
		</div>
	</body>
</html>
